In [1]:
import pandas as pd

In [8]:
df_features = pd.read_csv("../elliptic_bitcoin_dataset/elliptic_txs_features.csv", header=None)
df_edges = pd.read_csv("../elliptic_bitcoin_dataset/elliptic_txs_edgelist.csv")
df_classes = pd.read_csv("../elliptic_bitcoin_dataset/elliptic_txs_classes.csv")

In [10]:
print("Features Info: \n")
df_features.info()
print("\n")
print("Classes Info: \n")
df_classes.info()
print("\n")
print("Edge List Info: \n")
df_edges.info()

Features Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203769 entries, 0 to 203768
Columns: 167 entries, 0 to 166
dtypes: float64(165), int64(2)
memory usage: 259.6 MB


Classes Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203769 entries, 0 to 203768
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   txId    203769 non-null  int64
 1   class   203769 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.1+ MB


Edge List Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234355 entries, 0 to 234354
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   txId1   234355 non-null  int64
 1   txId2   234355 non-null  int64
dtypes: int64(2)
memory usage: 3.6 MB

In [11]:
df_features.head(3)

,0,1,2,3,4,5,6,7,8,9,...,157,158,159,160,161,162,163,164,165,166
0,230425980,1,-0.171469,-0.184668,-1.201369,-0.12197,-0.043875,-0.113002,-0.061584,-0.162097,...,-0.562153,-0.600999,1.461330,1.461369,0.018279,-0.087490,-0.131155,-0.097524,-0.120613,-0.119792
1,5530458,1,-0.171484,-0.184668,-1.201369,-0.12197,-0.043875,-0.113002,-0.061584,-0.162112,...,0.947382,0.673103,-0.979074,-0.978556,0.018279,-0.087490,-0.131155,-0.097524,-0.120613,-0.119792
2,232022460,1,-0.172107,-0.184668,-1.201369,-0.12197,-0.043875,-0.113002,-0.061584,-0.162749,...,0.670883,0.439728,-0.979074,-0.978556,-0.098889,-0.106715,-0.131155,-0.183671,-0.120613,-0.119792

In [12]:
df_classes.head(3)

        txId    class
0  230425980  unknown
1    5530458  unknown
2  232022460  unknown

In [13]:
df_edges.head(3)

       txId1      txId2
0  230425980    5530458
1  232022460  232438397
2  230460314  230459870

In [25]:
df_classes["class_labeled"] = df_classes["class"].replace({"2": "licit", "1": "illicit"}) 

class_counts = df_classes["class_labeled"].value_counts()
normalized_class_counts = df_classes["class_labeled"].value_counts(normalize=True)

class_analysis_df = pd.DataFrame({
    "Raw Class Names": df_classes["class"].unique(),
    "Labeled Class Names": df_classes["class_labeled"].unique(),
    "Total Counts": class_counts.values,
    "Total Percentage": normalized_class_counts.values 
})
class_analysis_df

  Raw Class Names Labeled Class Names  Total Counts  Total Percentage
0         unknown             unknown        157205          0.771486
1               2               licit         42019          0.206209
2               1             illicit          4545          0.022305